<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
  <div class="col-md-4 col-md-offset-4 product_form">
    <div class="form-group">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="field">
      <%= label_tag :description, "Description" %>
      <%= text_field_tag :description, nil, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="field">
      <%= label_tag :text, "Text" %>
      <%= text_field_tag :text, nil, class: "form-control", placeholder: "Text" %>
    </div>
    <div class="field">
      <%= label_tag :image_url, "Image URL" %>
      <%= text_field_tag :image_url, nil, class: "form-control", placeholder: "Image URL" %>
    </div>
    <div class="field">
      <%= label_tag :color, "Color" %>
      <%= text_field_tag :color, nil, class: "form-control", placeholder: "Color" %>
    </div>
    <div class="field">
      <%= label_tag :price, "Price" %>
      <%= text_field_tag :price, nil, class: "form-control", placeholder: "Price" %>
    </div>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <%= content_tag(:strong, 'Submit') %>
      <% end %>
    </div>
<% end %>
</div>
