
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <strong><%= product.name %></strong><br>
        <%= product.description %><br>
        <strong>$ <%= product.price %></strong><br>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Bist du sicher?' } %>
      </div>
    <% end %>
  </div> <!--end div class row-->
</div> <!--end div class container-->
