<div class="col-xs-6 col-md-9 img_show_group">
  <p>
  <strong><h4><%= @product.name %></h4></strong>
  </p>

  <p>$ <%= @product.price %></p>

  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <em><%= @product.description %></em>
</p>
  <%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
  </div><!--end img_show_group-->

<div class="col-xs-6 col-md-3 product_show">
  <img src="<%= @product.image_url %>" class="img-thumbnail">


<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <div class="rating"></div>
    </p>
    <p>
      <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <%= content_tag(:strong, 'Submit') %>
      <% end %>
    </p>
  <% end %>
<% end %>

<div class="product-reviews">
  <% @comments.each do |comment| %>
    <div class="row">
      <hr>
      <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
      <p><%= "Rating: #{comment.rating}/5" %></p>
      <% if signed_in? && current_user.admin? %>
      <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p><%= comment.body %></p>
    </div>
  <% end %>
  <%= will_paginate @comments %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

</div><!--end product_show-->
