<div class="col-xs-6 col-md-9 img_show_group">
  <p>
    <% cache @product do %>
  <strong><h4><%= @product.name %></h4></strong>
  </p>
​
  <p>&euro; <%= @product.price %></p>
​
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to 'Back', products_path, class: "btn btn-default" %>
  <br>​
<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <em><%= @product.description %></em>
</p>
  <% end %>
  <% if user_signed_in? %>
  <%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id)%>
  <% end %>
  <% else %>
  <%= link_to "<button class='btn btn-primary'>Sign up to purchase</button>".html_safe, new_user_registration_path %>
  <% end %>
  </div><!--end img_show_group-->
​
<div class="col-xs-6 col-md-3 product_show">
  <div class="thumbnail">
  <%= image_tag(@product.image_url, width: "350", class: "img-zoom", data: {zoom_image: @product.image_url}) %>
<!--  <img src="<%= @product.image_url %>" class="img-thumbnail"> -->
  </div><!--end div thumbnail-->
​
<%= render 'new_comment' %>
​
<%= render 'comments' %>
  <%= will_paginate @comments %>
</div>
​
</div><!--end product_show-->
