<div class="col-xs-6 col-md-3 product_show">

<p>
  <img src="<%= @product.image_url %>" class="img-thumbnail">
</p>

<p>
  <strong><h4><%= @product.name %></h4></strong>
</p>
<!--insert star rating here-->

<p><center>
$ <%= @product.price %>
</p></center>

<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <em><%= @product.description %></em>
</p>

<p>Space for comments</p>
Was this review helpful?
<button type="button" class="btn btn-default" aria-label="thumbs-up">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default" aria-label="thumbs-down">
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
</button>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div><!--end product_show-->
