<!DOCTYPE html>
<html>
<head>
  <title>Lindasapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">
  <nav class="navbar">
      <img class="navbar-brand" src="/assets/tuquerie.jpg">
    <ul class="nav navbar-nav">
      <li><a href="/"> Home&nbsp;</a></li>
      <li><a href="/static_pages/about"> About&nbsp;</a></li>
      <li><a href="/static_pages/contact"> Contact&nbsp;</a></li>
      <li><a href="/products"> Products&nbsp;</a></li>
      <li><div class="login_button">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </div><!--/login_button-->
      </li>
      <li>
    <!--    <div class="search_box">
          <%= form_tag("/products", method: "get") do %>
          <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search", size: 20) %>
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          <% end %> -->

          <div class="search_box">
          <%= form_tag("/products", method: "get") do %>
                  <div class="input-group">
                    <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search", size: 20) %>
                      <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                  </div>
            <% end %>
          </div>
      </li>
    </ul>
  </nav>

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p id ="alert" class="alert alert-warning"><%= alert %></p>
<% end %>

<%= yield %>
</div> <!--end wrapper-->

</body>
  <footer id="colophone" class="site-footer">
    &copy; 2016 Linda Bergen
  </footer>
</html>
